<div class="section-body  fixNavMargin">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link" href="#">
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#"></a>
                </li>
            </ul>
        </div>
        <form [formGroup]="blockdefine" >
        <div class="card card-height">
            <div class="card-header pf-head  d-flex justify-content-between">
                <h3 class="card-title "><span>{{'forms.blockDefination.blockDefinationTitle' | translate}}</span> </h3>
                <button type="button"  (click)="back()" class="btn btn-dark " >Back</button>
            </div>
            
            <div class="card-body">
                <div class="row productfamily ">
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.blockDefination.scheme-name' | translate}}</label>
                            </div>
                            <div class=" form-group col-md-8">
                                <select type="text" class="form-control" [attr.disabled]="actionBtn=='Update' ? true : null"   [ngClass]="getControl.numberSchemeId?.errors ? 'mandatory' : 'mandatoryG'" formControlName="numberSchemeId">
                                    <option value="" >Select --</option>
                                    <option *ngFor="let scheme of schemeList" value="{{scheme.numberSchemeId}}" >{{scheme.numberSchemeName}}</option>
                                </select>
                                <div *ngIf="getControl.numberSchemeId?.invalid && getControl.numberSchemeId?.touched">
                                    <span class="validate-text" *ngIf="getControl.numberSchemeId?.errors?.required">Please select
                                        Number Scheme</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.blockDefination.block-name' | translate}}</label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input type="text" class="form-control" [attr.disabled]="actionBtn=='Update' ? true : null"  [ngClass]="getControl.blockName?.errors ? 'mandatory' : 'mandatoryG'" formControlName="blockName">
                                <div *ngIf="getControl.blockName?.invalid && getControl.blockName?.touched">
                                    <span class="validate-text" *ngIf="getControl.blockName?.errors?.required">Please Enter
                                         Block Name</span>
                                    <span class="validate-text" *ngIf="getControl.blockName?.errors?.maxlength">Character exceed
                                        max limit {{getControl.blockName?.errors?.maxlength?.requiredLength}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.blockDefination.recieved-date' | translate}}</label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input type="date" formControlName="approvalDate" class="form-control" [ngClass]="getControl.approvalDate?.errors ? 'mandatory' : 'mandatoryG'" >
                                <div *ngIf="getControl.approvalDate?.invalid && getControl.approvalDate?.touched">
                                    <span class="validate-text" *ngIf="getControl.approvalDate?.errors?.maxlength">Character exceed
                                        max limit {{getControl.schemeName?.errors?.maxlength?.requiredLength}}</span>
                                </div>
                            </div>
                        </div>
                    </div>                
                   
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.blockDefination.start-running' | translate}} </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input type="number" formControlName="startNumber" class="form-control" [ngClass]="getControl.startNumber?.errors ? 'mandatory' : 'mandatoryG'"  (change)="setTotalCount()">
                                <div *ngIf="getControl.startNumber?.invalid && getControl.startNumber?.touched">
                                    <span class="validate-text" *ngIf="getControl.startNumber?.errors?.required">Please Enter
                                         Start Running Number</span>
                                         <span class="validate-text" *ngIf="getControl.startNumber?.errors?.isGreater">
                                            Start Number can not be greater than End Number</span>     
                                    <span class="validate-text" *ngIf="getControl.startNumber?.errors?.maxlength">Character exceed
                                        max limit {{getControl.startNumber?.errors?.maxlength?.requiredLength}}</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.blockDefination.end-running' | translate}} </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input type="number" formControlName="endNumber" class="form-control" [ngClass]="getControl.endNumber?.errors ? 'mandatory' : 'mandatoryG'" (change)="setTotalCount()" >
                                <div *ngIf="getControl.endNumber?.invalid && getControl.endNumber?.touched">
                                    <span class="validate-text" *ngIf="getControl.endNumber?.errors?.required">Please Enter
                                         End Running Number</span>
                                    <span class="validate-text" *ngIf="getControl.endNumber?.errors?.maxlength">Character exceed
                                        max limit {{getControl.endNumber?.errors?.maxlength?.requiredLength}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.blockDefination.total-count' | translate}} </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input type="number" formControlName="totalCount" [attr.disabled]="true"  class="form-control"  [ngClass]="getControl.totalCount?.errors ? 'mandatory' : 'mandatoryG'" >
                            </div>
                        </div>
                    </div>
                      
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.blockDefination.status' | translate}}</label>
                            </div>
                            <div class=" form-group col-md-8">
                                <select  class="form-control"
                                    formControlName="status" [ngClass]="getControl.status?.errors ? 'mandatory' : 'mandatoryG'">
                                    <option value="" >Select</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                                <div *ngIf="getControl.status?.invalid && getControl.status?.touched">
                                    <span class="validate-text" *ngIf="getControl.status?.errors?.required">Please Select
                                         Status</span>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <button [disabled]="blockdefine.invalid" (click)="submit()" type="submit" class="btn btn-primary ">{{actionBtn}}</button>
                <button type="button" (click)="resetForm()" class="btn btn-primary ml-3 ">Reset</button>
            </div>
        </div>
        </form>
    </div>
</div>

