<div class="section-body  fixNavMargin">
        <div class="container-fluid">

            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link" href="#">
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a>
                    </li>

                </ul>
            </div>
            <form [formGroup]="numberScheme" >
            <div class="card card-height">
                <div class="card-header pf-head  d-flex justify-content-between">
                    <h3 class="card-title "><span>{{'forms.numberSchema.Number-Schema-heading' | translate}}</span> </h3>
                    <button type="button"  (click)="back()" class="btn btn-dark " >Back</button>
                </div>
                <div class="card-body">
                    <div class="row  ">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Number-Schema-name' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input name="" type="text" class="form-control mandatory" value=""
                                                    formControlName="numberSchemeName" [ngClass]="numberScheme.controls.numberSchemeName?.errors ? 'mandatory' : 'mandatoryG'">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Number-Type' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select  name="" type="text" class="form-control mandatory" value=""
                                           (change)="enableDisableArea()"         formControlName="numberSchemeType"  [ngClass]="numberScheme.controls.numberSchemeType?.errors ? 'mandatory' : 'mandatoryG'">
                                        <option value="" >Select --</option>           
                                        <option *ngFor="let numberType of numberTypes"  value="{{numberType.numberTypeId}}" >{{numberType.numberType+" ("+numberType.numberTypeId+")"}}</option>           
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Format' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control mandatory" value=""
                                                    formControlName="numberSchemeFormat"  [ngClass]="numberScheme.controls.numberSchemeFormat?.errors ? 'mandatory' : 'mandatoryG'">
                                        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Released' | translate}}</span></label>
                                </div>
                                <div class=" form-group col-md-8 ">
                                    <div class="form-group ">
                                     
                                         <div class="custom-switches-stacked">
                                            <label class="custom-switch">
                                                <input type="checkbox" value="" class="custom-switch-input" formControlName="numberSchemeReleased"  [ngClass]="numberScheme.controls.numberSchemeReleased?.errors ? 'mandatory' : 'mandatoryG'">
                                                <span class="custom-switch-indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Reuse-After-Disconnect' | translate}}</span></label>
                                </div>
                                <div class=" form-group col-md-8 ">
                                    <div class="form-group ">
                                     
                                         <div class="custom-switches-stacked">
                                            <label class="custom-switch">
                                                <input type="checkbox" value="" class="custom-switch-input" formControlName="reuseAfterDisconnect"   [ngClass]="numberScheme.controls.reuseAfterDisconnect?.errors ? 'mandatory' : 'mandatoryG'">
                                                <span class="custom-switch-indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Area' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select  name="" type="text" class="form-control" value=""
                                    formControlName="numberSchemeArea"  [ngClass]="numberScheme.controls.numberSchemeArea?.errors ? 'mandatory' : 'mandatoryG'" >
                                    <option value="" >Select --</option>   
                                    <option value="MP" >MP</option>   
                                    <option value="MH" >MH</option>   
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Quarantine-Period' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="number" class="form-control" value=""
                                                    formControlName="quarantinePeriod"  [ngClass]="numberScheme.controls.reuseAfterDisconnect?.value ? 'mandatory' : ''" [ngClass]="numberScheme.controls.quarantinePeriod?.value ? 'mandatoryG' : ''"
                                                    [ngClass]="numberScheme.controls.quarantinePeriod?.value ? '' : ''" >
                                        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Quarantine-Uom' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select  name="" type="text" class="form-control" value=""
                                                    formControlName="quarantineUom"   [ngClass]="numberScheme.controls.reuseAfterDisconnect?.value ? 'mandatory' : ''" [ngClass]="numberScheme.controls.quarantineUom?.value ? 'mandatoryG' : ''">
                                        <option value="" >Select --</option>
                                        <option value="days" >Days</option>
                                        <option value="months" >Months</option>
                                        <option value="weeks" >Weeks</option>
                                        <option value="year" >Year</option>           
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Reservation-Period' | translate}} (Days) </span></label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="number" class="form-control mandatory" value=""
                                                    formControlName="reservationPeriod"   [ngClass]="numberScheme.controls.reservationPeriod?.errors ? 'mandatory' : 'mandatoryG'">
                                       
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <button [disabled]="numberScheme.invalid" (click)="submit('scheme')" type="submit" class="btn btn-primary ">{{actionBtn}}</button>
                    <button type="button" (click)="resetForm('scheme')" class="btn btn-primary ml-3 ">Reset</button>
                </div>
                <!-- DataTable -->
                <app-datatable [permission]="permission" (buttonEvent1)="buttonEvent1($event,template)"
                (changePageSortSearch)="changePageSortSearch($event)" [dataset]="data">
                <app-column [search]="x.search_key" [cssClass]="" [type]="x.type" *ngFor="let x of headerList"
                    [value]="x.value" [width]="x.width" [header]="x.header"></app-column>
            </app-datatable>
            <!-- DataTable end -->
            </div>
            </form>
                 <!-- PopUp starts -->
                 <ng-template #template style="height: 1% !important;">
                    <div class="modal-header">
                        <div class="card-header d-flex justify-content-between">
                            <h3 class="card-title prod-name"><span>Number Format Defination</span>
                            </h3>
                         </div>
                       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                          <span aria-hidden="true">×</span>
                       </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="numberFormat" >
                            <div class="card">
                                <div class="card-body">
                                    <div class="row productfamily ">
                                        
                                        <div class="col-md-6">
                                            <div class="row ">
                                                <div class=" form-group col-md-4">
                                                    <label class="form-label ">{{'forms.numberFormat.level-name' | translate}}</label>
                                                </div>
                                                <div class=" form-group col-md-8">
                                                    <input type="text" formControlName="numberFormatLevelName" class="form-control" readonly [ngClass]="numberFormat.controls.numberFormatLevelName?.errors ? 'mandatory' : 'mandatoryG'" >
                                                    <div
                                                    *ngIf="numberFormat.controls.numberFormatLevelName?.invalid && numberFormat.controls.numberFormatLevelName?.touched">
                                                    <span
                                                      class="validate-text" *ngIf="numberFormat.controls.numberFormatLevelName?.errors?.required"
                                                      >Please Enter Format Level Name</span
                                                    >
                                                    <span
                                                      class="validate-text"
                                                      *ngIf="numberFormat.controls.numberFormatLevelName?.errors?.maxlength">Character exceed max limit {{numberFormat.controls.numberFormatLevelName?.errors?.maxlength?.requiredLength}}</span>
                                                  </div>
                                                  
                                                </div>
                                            </div>
                                        </div>                
                                        <div class="col-md-6">
                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <label class="form-label text-">{{'forms.numberFormat.Description' | translate}}</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <textarea rows="3" readonly  [ngClass]="numberFormat.controls.numberFormatDescription?.errors ? 'mandatory' : 'mandatoryG'"  class="form-control" 
                                                        value="Mike" formControlName="numberFormatDescription"></textarea>
                                                        <div
                                                    *ngIf="numberFormat.controls.numberFormatDescription?.invalid && numberFormat.controls.numberFormatDescription?.touched">
                                                    <span
                                                      class="validate-text" *ngIf="numberFormat.controls.numberFormatDescription?.errors?.required"
                                                      >Please Enter Description</span
                                                    >
                                                    <span
                                                      class="validate-text"
                                                      *ngIf="numberFormat.controls.numberFormatDescription?.errors?.maxlength">Character exceed max limit {{numberFormat.controls.numberFormatDescription?.errors?.maxlength?.requiredLength}}</span>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row ">
                                                <div class=" form-group col-md-4">
                                                    <label class="form-label ">{{'forms.numberFormat.length' | translate}} </label>
                                                </div>
                                                <div class=" form-group col-md-8">
                                                    <input type="number" formControlName="numberFormatLength" readonly class="form-control" [ngClass]="numberFormat.controls.numberFormatLength?.errors ? 'mandatory' : 'mandatoryG'" >
                                                    <div
                                                    *ngIf="numberFormat.controls.numberFormatLength?.invalid && numberFormat.controls.numberFormatLength?.touched">
                                                    <span
                                                      class="validate-text" *ngIf="numberFormat.controls.numberFormatLength?.errors?.required"
                                                      >Please Enter Length</span
                                                    >
                                                    <span
                                                      class="validate-text"
                                                      *ngIf="numberFormat.controls.numberFormatLength?.errors?.maxlength">Character exceed max limit {{numberFormat.controls.numberFormatLength?.errors?.maxlength?.requiredLength}}</span>
                                                  </div>
                                                
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-6">
                                            <div class="row ">
                                                <div class=" form-group col-md-4">
                                                    <label class="form-label ">{{'forms.numberFormat.value-type' | translate}} </label>
                                                </div>
                                                <div class=" form-group col-md-8">
                                                    <select  name="cars" id="cars" class="form-control" disabled
                                                        formControlName="numberFormatValueType"  [ngClass]="numberFormat.controls.numberFormatValueType?.errors ? 'mandatory' : 'mandatoryG'">
                                                        <option value="">Select --</option>
                                                        <option value="Numeric">Numeric</option>
                                                        <option value="Alphanumeric">Alphanumeric</option>
                                                    </select>
                                                    <div
                                                    *ngIf="numberFormat.controls.numberFormatValueType?.invalid && numberFormat.controls.numberFormatValueType?.touched">
                                                    <span
                                                      class="validate-text" *ngIf="numberFormat.controls.numberFormatValueType?.errors?.required"
                                                      >Please Select Value Type</span
                                                    >
                                                    
                                                  </div>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="col-md-6">
                                            <div class="row ">
                                                <div class=" form-group col-md-4">
                                                    <label class="form-label ">{{'forms.numberFormat.delimeter' | translate}} </label>
                                                </div>
                                                <div class=" form-group col-md-8">
                                                    <select  class="form-control"
                                                        formControlName="numberFormatDelimiter" disabled [ngClass]="numberFormat.controls.numberFormatDelimiter?.errors ? 'mandatory' : 'mandatoryG'">
                                                        <option value="None">None</option>
                                                        <option value="-">-</option>
                                                        <option value="/">/</option>
                                                        <option value="*">*</option>
                                                    </select>
                                                    <div
                                                    *ngIf="numberFormat.controls.numberFormatDelimiter?.invalid && numberFormat.controls.numberFormatDelimiter?.touched">
                                                    <span
                                                      class="validate-text" *ngIf="numberFormat.controls.numberFormatDelimiter?.errors?.required"
                                                      >Please Select Delimeter</span>
                                                    
                                                   </div>
                                                </div>
                                            </div>
                                        </div>   
                                        <div class="col-md-6">
                                            <div class="row ">
                                                <div class=" form-group col-md-4">
                                                    <label class="form-label ">{{'forms.numberFormat.level-type' | translate}} </label>
                                                </div>
                                                <div class=" form-group col-md-8">
                                                    <select  class="form-control"
                                                        formControlName="numberFormatLevelType" disabled  [ngClass]="numberFormat.controls.numberFormatLevelType?.errors ? 'mandatory' : 'mandatoryG'">
                                                        <option value="" >Select</option>
                                                        <option value="Running">Running</option>
                                                        <option value="Fixed">Fixed</option>
                                                    </select>
                                                    <div
                                                    *ngIf="numberFormat.controls.numberFormatLevelType?.invalid && numberFormat.controls.numberFormatLevelType?.touched">
                                                    <span
                                                      class="validate-text" *ngIf="numberFormat.controls.numberFormatLevelType?.errors?.required"
                                                      >Please Select Level Type</span>
                                                    
                                                   </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-6">
                                            <div class="row ">
                                                <div class=" form-group col-md-4">
                                                    <label class="form-label ">{{'forms.numberFormat.value' | translate}} </label>
                                                </div>
                                                <div class=" form-group col-md-8">
                                                    <input type="number" formControlName="numberForamatValue"  class="form-control mandatory" [ngClass]="numberFormat.controls.numberForamatValue?.errors ? 'mandatory' : 'mandatoryG'" >
                                                  
                                                
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <button [disabled]="numberFormat.invalid" (click)="submit('format')" type="submit" class="btn btn-primary ">{{actionBtn}}</button>
                                    <button type="button"  (click)="$event.stopPropagation();resetForm('format')" class="btn btn-primary ml-3 ">Reset</button>
                                </div>
                            </div>
                            </form>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>
                    </div>
                </ng-template>
                <!-- PopUp Ends -->
        </div>
    </div>

