<div class="section-body  fixNavMargin">
        <div class="container-fluid">

            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link" href="#">
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a>
                    </li>

                </ul>
            </div>
            <form [formGroup]="numberScheme" >
            <div class="card card-height">
                <div class="card-header pf-head  d-flex justify-content-between">
                    <h3 class="card-title "><span>{{'forms.numberSchema.Number-Schema-heading' | translate}}</span> </h3>
                    <button type="button"  (click)="back()" class="btn btn-dark " >Back</button>
                </div>
                <div class="card-body">
                    <div class="row  ">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Number-Schema-name' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input name="" type="text" class="form-control mandatory" value=""
                                                    formControlName="schemeName" [ngClass]="numberScheme.controls.schemeName?.errors ? 'mandatory' : 'mandatoryG'">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Number-Type' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select  name="" type="text" class="form-control mandatory" value=""
                                           (change)="enableDisableArea()"         formControlName="numberType"  [ngClass]="numberScheme.controls.numberType?.errors ? 'mandatory' : 'mandatoryG'">
                                        <option value="" >Select --</option>           
                                        <option *ngFor="let numberType of numberTypes"  value="{{numberType.numberTypeId}}" >{{numberType.numberType}}</option>           
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Format' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control mandatory" value=""
                                                    formControlName="format"  [ngClass]="numberScheme.controls.format?.errors ? 'mandatory' : 'mandatoryG'">
                                        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Released' | translate}}</span></label>
                                </div>
                                <div class=" form-group col-md-8 ">
                                    <div class="form-group ">
                                     
                                         <div class="custom-switches-stacked">
                                            <label class="custom-switch">
                                                <input type="checkbox" value="" class="custom-switch-input" formControlName="released"  [ngClass]="numberScheme.controls.released?.errors ? 'mandatory' : 'mandatoryG'">
                                                <span class="custom-switch-indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Reuse-After-Disconnect' | translate}}</span></label>
                                </div>
                                <div class=" form-group col-md-8 ">
                                    <div class="form-group ">
                                     
                                         <div class="custom-switches-stacked">
                                            <label class="custom-switch">
                                                <input type="checkbox" value="" class="custom-switch-input" formControlName="reuseAfterDisconnect"   [ngClass]="numberScheme.controls.reuseAfterDisconnect?.errors ? 'mandatory' : 'mandatoryG'">
                                                <span class="custom-switch-indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Area' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select  name="" type="text" class="form-control" value=""
                                    formControlName="area"  [ngClass]="numberScheme.controls.area?.errors ? 'mandatory' : 'mandatoryG'" >
                                    <option value="" >Select --</option>   
                                    <option value="MP" >MP</option>   
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Quarantine-Period' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="number" class="form-control" value=""
                                                    formControlName="quarantinePeriod"  [ngClass]="numberScheme.controls.reuseAfterDisconnect?.value ? 'mandatory' : ''" [ngClass]="numberScheme.controls.quarantinePeriod?.value ? 'mandatoryG' : ''"
                                                    [ngClass]="numberScheme.controls.quarantinePeriod?.value ? '' : ''" >
                                        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Quarantine-Uom' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select  name="" type="text" class="form-control" value=""
                                                    formControlName="quarantineUom"   [ngClass]="numberScheme.controls.reuseAfterDisconnect?.value ? 'mandatory' : ''" [ngClass]="numberScheme.controls.quarantineUom?.value ? 'mandatoryG' : ''">
                                        <option value="" >Select --</option>
                                        <option value="Days" >Days</option>
                                        <option value="Months" >Months</option>
                                        <option value="Weeks" >Weeks</option>
                                        <option value="Year" >Year</option>           
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.numberSchema.Reservation-Period' | translate}} (Days)</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="number" class="form-control mandatory" value=""
                                                    formControlName="reservationPeriod"   [ngClass]="numberScheme.controls.reservationPeriod?.errors ? 'mandatory' : 'mandatoryG'">
                                       
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <button [disabled]="numberScheme.invalid" (click)="submit()" type="submit" class="btn btn-primary ">{{actionBtn}}</button>
                    <button type="button" (click)="resetForm()" class="btn btn-primary ml-3 ">Reset</button>
                </div>
                <!-- DataTable -->
                <!-- <app-datatable [permission]="permission" (buttonEvent1)="buttonEvent1($event,template)"
                (changePageSortSearch)="changePageSortSearch($event)" [dataset]="data">
                <app-column [search]="x.search_key" [cssClass]="" [type]="x.type" *ngFor="let x of headerList"
                    [value]="x.value" [width]="x.width" [header]="x.header"></app-column>
            </app-datatable> -->
            <!-- DataTable end -->
            </div>
            </form>
        </div>
    </div>

