

    <div class="section-body  fixNavMargin">
        <div class="container-fluid">

            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link" href="#">
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a>
                    </li>

                </ul>
            </div>
            <form [formGroup]="numberTypes" >
            <div class="card card-height">
                <div class="card-header pf-head">
                    <h3 class="card-title "></h3> 
                </div>
                <div class="card-body">
                     <div class="row productfamily ">
                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label "><span>{{'forms.number-type.type-id' | translate}}</span> </label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <input type="text" class="form-control mandatory"
                                     [ngClass]="numberTypes.controls.numberTypeId?.errors ? 'mandatory' : 'mandatoryG'" formControlName="numberTypeId">
                                     <div *ngIf="numberTypes.controls.numberTypeId?.invalid && numberTypes.controls.numberTypeId?.touched">
                                        <span class="validate-text" *ngIf="numberTypes.controls.numberTypeId?.errors?.required">Please Enter
                                            Number Type Id</span>
                                        <span class="validate-text" *ngIf="numberTypes.controls.numberTypeId?.errors?.maxlength">Character exceed
                                            max limit 15</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label "><span>{{'forms.number-type.type' | translate}}</span></label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <!-- <input type="text"  class="form-control" [ngClass]="numberType.controls.type?.errors ? 'mandatory' : 'mandatoryG'" > -->
                                    <select id="datalistOptions84"
                                    class="form-control mandatory"
                                    [ngClass]="numberTypes.controls.numberType?.errors ? 'mandatory' : 'mandatoryG'"
                                    formControlName="numberType"
                                    >
                                    <option value="others"> <span>{{'forms.number-type.others' | translate}}</span></option>
                                    <option value="SIM"> <span>{{'forms.number-type.sim' | translate}}</span>
                                    </option>
                                    <option value="IMSI"><span>{{'forms.number-type.imsi' | translate}}</span>
                                    </option>
                                    <option value="MSISDN"><span>{{'forms.number-type.msisdn' | translate}}</span>
                                    </option>
                                    </select>
                                    <div *ngIf="numberTypes.controls.numberType?.invalid && numberTypes.controls.numberType?.touched">
                                        <span class="validate-text" *ngIf="numberTypes.controls.numberType?.errors?.required">Please Select
                                            Number Type </span>
                                    </div>
                                </div>
                            </div>
                        </div>                
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.number-type.description' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <textarea rows="3"  [ngClass]="numberTypes.controls.numberTypeDescription?.errors ? 'mandatory' : 'mandatoryG'"  class="form-control" placeholder=""
                                        value="Mike" formControlName="numberTypeDescription"></textarea>
                                    <div *ngIf="numberTypes.controls.numberTypeDescription?.invalid && numberTypes.controls.numberTypeDescription?.touched">
                                        <span class="validate-text" *ngIf="numberTypes.controls.numberTypeDescription?.errors?.required">Please Enter
                                            Description</span>
                                        <span class="validate-text" *ngIf="numberTypes.controls.numberTypeDescription?.errors?.maxlength">Character exceed
                                            max limit 255</span>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label "><span>{{'forms.number-type.status-generation' | translate}}</span> </label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <select 
                                    class="form-control"
                                    formControlName="statusAfterGeneration"
                                    [ngClass]="numberTypes.controls.statusAfterGeneration?.errors ? 'mandatory' : 'mandatoryG'"
                                    >
                                    <option  value=""><span>{{'forms.number-type.select' | translate}}</span></option>
                                    <option value="available" ><span>{{'forms.number-type.available' | translate}}</span>
                                    </option>
                                    <option value="not-available"><span>{{'forms.number-type.not-available' | translate}}</span>
                                    </option>
                                    </select>
                                    <div *ngIf="numberTypes.controls.statusAfterGeneration?.invalid && numberTypes.controls.statusAfterGeneration?.touched">
                                        <span class="validate-text" *ngIf="numberTypes.controls.statusAfterGeneration?.errors?.required">Please Select Status After Generation</span>
                                      
                                    </div> 
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label "><span>{{'forms.number-type.allocation-allowed' | translate}}</span></label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <div class="custom-switches-stacked">
                                        <label class="custom-switch">
                                            <input formControlName="allocationAllowed"  type="checkbox" value="" class="custom-switch-input" >
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>  
                 
                    
                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label "><span>{{'forms.number-type.area-wise-scheme' | translate}}</span></label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <div class="custom-switches-stacked">
                                        <label class="custom-switch">
                                            <input formControlName="areaWiseSchemeDefinition"  type="checkbox" value="" class="custom-switch-input" >
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>  

                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label "><span>{{'forms.number-type.released' | translate}}</span></label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <div class="custom-switches-stacked">
                                        <label class="custom-switch">
                                            <input formControlName="released"  type="checkbox" value="" class="custom-switch-input" >
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>  

                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label "><span>{{'forms.number-type.technology-generation' | translate}}</span></label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <input type="text" class="form-control mandatory" [ngClass]="numberTypes.controls.technologyGeneration?.errors ? 'mandatory' : 'mandatoryG'" formControlName="technologyGeneration">
                                    <div *ngIf="numberTypes.controls.technologyGeneration?.invalid && numberTypes.controls.technologyGeneration?.touched">
                                        <span class="validate-text" *ngIf="numberTypes.controls.technologyGeneration?.errors?.required">Please Enter Technology Generation</span>
                                        <span class="validate-text" *ngIf="numberTypes.controls.technologyGeneration?.errors?.maxlength">Character exceed max limit 2</span>
                                      
                                    </div> 
                                </div>
                            </div>
                        </div>  
                    </div>
                    <button   (click)="submit()" type="submit" [disabled]="numberTypes.invalid" class="btn btn-primary ">{{actionBtn}}</button>
                    <button type="button" (click)="resetForm()" class="btn btn-primary ml-3 "><span>{{'forms.number-type.reset' | translate}}</span></button>
                </div>
            </div>
            </form>
        </div>
    </div>

