.ck.ck-editor__main{
    height: 200px;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
    height: 200px;
}

.validate-text{
    font-size: 12px;
    color: red;
}

.card-height {
    min-height: calc(100vh - 150px );
}

.mandatory {
    border-left: 3px solid #f27b77 !important;
}

.required:after {
    content:" *";
    color: red;
    
  }