
    <div class="section-body  fixNavMargin">
        <div class="container-fluid">

            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link" href="#">
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a>
                    </li>

                </ul>
            </div>
            <form [formGroup]="productFamily" >
            <div class="card card-height">
                <div class="card-header pf-head">
                    <h3 class="card-title "><span>{{'forms.ProductEntityType.Product-Entity-Type-heading' | translate}}</span> </h3>
                </div>
                <div class="card-body">
                    <div class="row productfamily ">
                        <div class="col-md-8">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label "><span>{{'forms.ProductEntityType.productEntityType' | translate}}</span> </label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <input   name="" type="text"    [ngClass]="productFamily.controls.productEntityType?.errors ? 'mandatory' : 'mandatoryG'"  class="form-control " value="" formControlName="productEntityType">
                                   
                                    <div *ngIf="productFamily.controls.productEntityType?.invalid && productFamily.controls.productEntityType?.touched">
                                        <span class="validate-text" *ngIf="productFamily.controls.productEntityType?.errors?.required">Please Enter Product Family</span>
                                        <span class="validate-text" *ngIf="productFamily.controls.productEntityType?.errors?.maxlength">Character exceed max limit 100</span>
                                        <span class="validate-text"   *ngIf="productFamily.controls.productEntityType?.errors?.isChar">Invalid input. Only character allowed </span>
                                        <span class="validate-text"  *ngIf="productFamily.controls.productEntityType?.errors?.pattern ">Field cant be empty</span>
                                     </div>
                                </div>
                            </div>
                            
                        </div>                
                        <div class="col-md-8">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.ProductEntityType.productEntityTypeDescription' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <textarea rows="3"  [ngClass]="productFamily.controls.productEntityTypeDescription?.errors ? 'mandatory' : 'mandatoryG'"  class="form-control" placeholder=""
                                        value="Mike" formControlName="productEntityTypeDescription"></textarea>
                                        <div *ngIf="productFamily.controls.productEntityTypeDescription?.invalid && productFamily.controls.productEntityTypeDescription?.touched">
                                            <span class="validate-text"  *ngIf="productFamily.controls.productEntityTypeDescription?.errors?.required">Please Enter Product Line description</span>
                                            <span class="validate-text"  *ngIf="productFamily.controls.productEntityTypeDescription?.errors?.maxlength">Character exceed max limit 100</span>
                                            <span class="validate-text"  *ngIf="productFamily.controls.productEntityTypeDescription?.errors?.isChar">Invalid input. Only character allowed </span>
                                         </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.ProductEntityType.isLaunchable' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <div class="custom-switches-stacked d-inline">
                                        <label class="custom-switch">
                                            <input type="checkbox"  formControlName="launchable"  value="" class="custom-switch-input" >
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                    </div>
                                       
                                </div>
                            </div>
                        </div>
                    </div>
                    <button [disabled]="productFamily.invalid" (click)="submit()" type="submit" class="btn btn-primary ">{{actionBtn}}</button>
                    <button type="button" (click)="resetForm()" class="btn btn-primary ml-3 ">Reset</button>
                </div>
            </div>
            </form>
        </div>
    </div>


