
    <div class="section-body  fixNavMargin">
        <div class="container-fluid">

            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link" href="#">
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a>
                    </li>

                </ul>
            </div>
            <form [formGroup]="entityGroups" >
            <div class="card card-height">
                <div class="card-header pf-head d-flex justify-content-between">
                    <h3 class="card-title "><span>{{'forms.entityGroup.Entity-group-heading' | translate}}</span> </h3>
                    <button type="button"  (click)="back()" class="btn btn-dark " >Back</button>
                </div>
                <div class="card-body">
                    <div class="row productfamily ">
                        <div class="col-md-8">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label "><span>{{'forms.entityGroup.entity-groups' | translate}}</span> </label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <input name="" type="text"    [readonly]="actionBtn == 'Update'"   [ngClass]="entityGroups.controls.entityGroups?.errors ? 'mandatory' : 'mandatoryG'"  class="form-control " value="" formControlName="entityGroups">
                                  
                                    <div *ngIf="entityGroups.controls.entityGroups?.invalid && entityGroups.controls.entityGroups?.touched">
                                        <span class="validate-text" *ngIf="entityGroups.controls.entityGroups?.errors?.required">Please Enter Product Line</span>
                                        <span class="validate-text" *ngIf="entityGroups.controls.entityGroups?.errors?.maxlength">Character exceed max limit 30</span>
                                        <span class="validate-text"   *ngIf="entityGroups.controls.entityGroups?.errors?.isChar">Invalid input. Only character allowed </span>
                                        <span class="validate-text"  *ngIf="entityGroups.controls.entityGroups?.errors?.pattern ">Field cant be empty</span>
                                     </div>
                                </div>
    
                            </div>
                        </div>                
                        <div class="col-md-8">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-"><span>{{'forms.entityGroup.description' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <textarea rows="3"  [ngClass]="entityGroups.controls.description?.errors ? 'mandatory' : 'mandatoryG'"  class="form-control" placeholder=""
                                        value="Mike" formControlName="description"></textarea>
                                        <div *ngIf="entityGroups.controls.description?.invalid && entityGroups.controls.description?.touched">
                                            <span class="validate-text"  *ngIf="entityGroups.controls.description?.errors?.required">Please Enter Entity Groups description</span>
                                            <span class="validate-text"  *ngIf="entityGroups.controls.description?.errors?.maxlength">Character exceed max limit 100</span>
                                            <span class="validate-text"  *ngIf="entityGroups.controls.description?.errors?.isChar">Invalid input. Only character allowed </span>
                                         </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label"><span>{{'forms.entityGroup.entity-icon' | translate}}</span></label>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn btn-primary " mat-button (click)="files.click()">Choose File</button>     
                                    <input hidden type="file" #files  name="profile"  (change)="onFileSelect($event)" />  
                                    <img  *ngIf="entityGroups.controls.entityGroupsIcon.value!='' && entityGroups.controls.entityGroupsIcon.value!=null && 
                                    entityGroups.controls.entityGroupsIcon.value != undefined"  [src]="entityGroups.controls.entityGroupsIcon.value" class="selected-image" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <button [disabled]="entityGroups.invalid " (click)="submit()" type="submit" class="btn btn-primary ">{{actionBtn}}</button>
                    <button type="button" (click)="resetForm()" class="btn btn-primary ml-3 ">Reset</button>
                </div>
            </div>
            </form>
        </div>
    </div>

