<div class="row">
    <div class="col-12">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a *ngFor="let x of fromDetailsTab.page" class="nav-item nav-link"
                    (click)="activetabsec(x?.section,x)" [ngClass]="{'active': activeTab== x?.section.section}"
                    [id]="x?.section.productEntityTemplateSectionId"
                    [attr.data-toggle]="x?.section.productEntityTemplateId" role="tab" aria-controls="nav-home"
                    aria-selected="true">{{x?.section.section}}
                </a>
            </div>
        </nav>
        <form [formGroup]="tabFrom">
            <div *ngFor="let x1 of fromDetailsTab.page" class="tab-content" [id]="x1.sectionName">

                <div *ngIf="activeTab== x1?.section.section">
                    <div class="tab-pane fade show active" id="overview">
                        <div class="container-fluid inner-container">
                            <div class="row mt-5 tabs-row" *ngFor="let sectionInTab of x1?.tabSections">

                                <div class="col-md-12">
                                    <div class="sub-head 123">{{sectionInTab.section.section}}</div>
                                </div>
                                <br>
                                <div class="col-md-12">
                                    <div [formGroupName]="x1.section.section">
                                    <div class="row">
                                        <div  [ngClass]="sectionInTab?.section?.screenLayout=='DOUBLE COLUMN'? 'col-md-6':'col-md-12'"     *ngFor="let componat of sectionInTab?.section?.components">
                                            <div  [ngClass]="sectionInTab?.section?.screenLayout=='DOUBLE COLUMN'? '':'col-md-6'"  class="form-group " >
                                                <label  [ngClass]="{'required': componat.dataCaptureControl=='radio' || componat.dataCaptureControl=='checkbox'}" for="exampleInputEmail1">{{componat?.productAttributeName}}</label>
                                                <input  
                                                    *ngIf="componat.dataCaptureControl!='radio'&& componat.dataCaptureControl!='date' && componat.dataCaptureControl!='checkbox' && componat.dataCaptureControl!='dropdown'"
                                                    [formControlName]="componat?.productAttribute"
                                                    format="DD-MMM-YYYY"
                                                    data-date-inline-picker="true" 
                                                    [ngClass]=" ngClass(componat) ? 
                                                    getControl[componat?.productAttribute].errors
                                                      ? 'mandatory'
                                                      : 'mandatoryG':'' "
    
                                                    [type]="componat?.dataCaptureControl" class="form-control"
                                                    [id]="componat?.productAttribute" aria-describedby="emailHelp"
                                                    placeholder="Enter {{componat?.forLabel}}">
                                                    <input type="text" *ngIf="componat.dataCaptureControl=='date'"
                                                    placeholder="Datepicker"
                                                    class="form-control"
                                                    [ngClass]=" ngClass(componat) ? 
                                                    getControl[componat?.productAttribute].errors
                                                      ? 'mandatory'
                                                      : 'mandatoryG':'' "
                                                      [formControlName]="componat?.productAttribute"
                                                    [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                                                    bsDatepicker>
        
                                                <div *ngIf="componat.dataCaptureControl=='radio'">
                                                    <div class="form-check" *ngFor="let x of componat?.option">
                                                        <input type="radio" class="form-check-input"
                                                            [id]="componat?.productAttributeName"
                                                            
                                                            [ngClass]="{'mandatory': ngClass(componat)}"
                                                            [formControlName]="componat?.productAttribute"
                                                            [value]="x.key">{{x.value}}
                                                        <label class="form-check-label " for="radio1"></label>
                                                    </div>
                                                </div>
                                                  <!--  -->          
                                                  <div *ngIf="componat.dataCaptureControl=='checkbox'">
                                                    <div class="form-check" *ngFor="let x of componat?.option">
                                                     
                                                        <input   type="checkbox" class="form-check-input"
                                                            [id]="x.key"  [ngClass]="
                                                            getControl[componat?.productAttribute].errors
                                                              ? 'mandatory'
                                                              : 'mandatoryG'"
                                                            [ngClass]="{'mandatory': ngClass(componat)}"
                                                            [checked]="return(x.key,x1?.section.section,componat?.productAttribute)"
                                                            (click)="checkBoxValue($event,x1?.section.section,componat?.productAttribute)"
                                                            
                                                            [value]="x.key">
                                                        <label class="form-check-label " for="{{x.value}}">{{x.value}}</label>
                                                    </div>
                                                </div>
                                                <!--  [formControlName]="componat?.productAttribute"-->
    
                                                <div *ngIf="componat.dataCaptureControl =='dropdown'">
                                                    <select   aria-placeholder="Please select value"   [ngClass]="{'mandatory': ngClass(componat)}" [id]="componat?.productAttributeName"
                                                        [formControlName]="componat?.productAttribute" class="form-control">
                                                        
                                                        <option *ngFor="let x of componat?.option" [ngValue]="x.value" >{{x.value}}</option>
                                                    </select>
                                                </div>
                                                <br>
                                                <label class="error" *ngIf="getControl[componat?.productAttribute]?.touched && getControl[componat?.productAttribute].invalid">
                                                    <label class="error" *ngIf="getControl[componat?.productAttribute].errors?.required">Please fill {{componat?.productAttributeName}}</label>
                                                     <label class="error" *ngIf="getControl[componat?.productAttribute].errors?.maxlength">Length should be less than 80</label>
                                                     </label>
                                            </div>

                                        </div>
                                        
                                    </div>
                                   

                                       
                                    </div>
                                </div>   
                            </div>
                            <br>
                            <div class="col-md-12">
                                <button type="submit" (click)="submit(x1.section.section,x1?.tabSections[0].section.components[0])" class="btn btn-primary submit-btn">Submit
                                    {{x1.section.section}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>