<div class="section-body  fixNavMargin">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link" href="#">
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#"></a>
                </li>
            </ul>
        </div>
        <form [formGroup]="vanityNumber" >
        <div class="card card-height">
            <div class="card-header pf-head">
                <h3 class="card-title ">{{'forms.vanityNumber.vanityHeading' | translate}} </h3>
            </div>
            <div class="card-body">
                <div class="row productfamily ">
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.vanityNumber.category-name' | translate}}</label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input type="text" class="form-control" [ngClass]="vanityNumber.controls.categoryName?.errors ? 'mandatory' : 'mandatoryG'" formControlName="categoryName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.vanityNumber.mask' | translate}} </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input type="text" formControlName="mask" class="form-control" [ngClass]="vanityNumber.controls.mask?.errors ? 'mandatory' : 'mandatoryG'" >
                            </div>
                        </div>
                    </div>                
                    
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.vanityNumber.mask-sequenced' | translate}}  </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control custom-checkbox d-inline">
                                        <input type="checkbox"  formControlName="maskSequence" class="custom-control-input" name="example-checkbox1"
                                            value="option1" checked>
                                        <span class="custom-control-label" ></span>
                                    </label>
                                </div>    
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.vanityNumber.priority' | translate}} </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input type="text" formControlName="priority" class="form-control" [ngClass]="vanityNumber.controls.priority?.errors ? 'mandatory' : 'mandatoryG'" >
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.vanityNumber.start-date' | translate}}</label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input type="date" formControlName="startDate" class="form-control" [ngClass]="vanityNumber.controls.startDate?.errors ? 'mandatory' : 'mandatoryG'" >
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.vanityNumber.rule-code' | translate}}</label>
                            </div>
                            <div class=" form-group col-md-8">
                                <select  name="cars" id="cars" class="form-control"
                                    formControlName="ruleCode"  [ngClass]="vanityNumber.controls.ruleCode?.errors ? 'mandatory' : 'mandatoryG'">
                                    <option value="">Select --</option>
                                    <option value="">Rule Code1</option>
                                    <option value="">Rule Code2</option>
                                </select>
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.vanityNumber.rule-combination' | translate}} </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <select  class="form-control"
                                    formControlName="ruleCombine"  [ngClass]="vanityNumber.controls.ruleCombine?.errors ? 'mandatory' : 'mandatoryG'">
                                    <option value="">Select --</option>
                                    <option value="">Rule Code</option>
                                    <option value="">Rule Code</option>
                                </select>
                            </div>
                        </div>
                    </div>   
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.vanityNumber.default-category' | translate}} </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <select  class="form-control"
                                    formControlName="defaultCategory"  [ngClass]="vanityNumber.controls.defaultCategory?.errors ? 'mandatory' : 'mandatoryG'">
                                    <option value="" >Select</option>
                                    <option value="Running">Running</option>
                                    <option value="Fixed">Fixed</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.vanityNumber.reservation-period' | translate}} </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input type="text" formControlName="reservation" class="form-control" [ngClass]="vanityNumber.controls.reservation?.errors ? 'mandatory' : 'mandatoryG'" >
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">{{'forms.vanityNumber.quarantine-period' | translate}}</label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input type="text" formControlName="quarantine" class="form-control" [ngClass]="vanityNumber.controls.quarantine?.errors ? 'mandatory' : 'mandatoryG'" >
                            </div>
                        </div>
                    </div>
                    
                </div>
                <button [disabled]="vanityNumber.invalid" (click)="submit()" type="submit" class="btn btn-primary ">{{actionBtn}}</button>
                <button type="button" (click)="resetForm()" class="btn btn-primary ml-3 ">Reset</button>
            </div>
        </div>
        </form>
    </div>
</div>

