<div class="section-body  fixNavMargin">
    <div class="container-fluid">

        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link" href="#">
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#"></a>
                </li>

            </ul>
            <!-- <div class="header-action">
                <button type="button" class="btn btn-primary m-3"><i class="fe fe-plus mr-2"></i>Add</button>
            </div> -->
        </div>
        <!--product family-->
        <form [formGroup]="changePassword" (ngSubmit)="submit()">
        <div class="card card-height">
            <div class="card-header pf-head">
                <h3 class="card-title ">Change Password</h3>
            </div>
            <div class="card-body">
                <div class="row productfamily ">
                       <div class="col-md-8">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">Old Password </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input name="" type="password" class="form-control mandatory" value=""
                                formControlName="password">
                                <div class="validate-text" *ngIf="validPassword">Password does not match with existing one</div>
                                <div *ngIf="f.password.touched && f.password.invalid" class="validate-text">
                                    <div *ngIf="f.password.errors?.required">Please enter password</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">New Password </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input formControlName="newPassword" id="password" [type]="passwordType"
                                        class="form-control mandatory">
                                        <span class="p-viewer2">
                                            <i class="fa fa-eye" aria-hidden="true"  (click)="togglePassword()"></i>
                                        </span>
                                        
                                    <div *ngIf="f.newPassword.touched && f.newPassword.invalid" class="validate-text">
                                        <div *ngIf="f.newPassword.errors?.required">Please enter new password</div>
                                    </div>
                            </div>
                        </div> 
                    </div>
               
                    <div class="col-md-8">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">Confirm New Password </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input formControlName="confirm_password" id="confirm_password" [type]="passwordType1"
                                class="form-control mandatory">
                                <span class="p-viewer2">
                                    <i class="fa fa-eye" aria-hidden="true"  (click)="togglePassword1()"></i>
                                </span>
                                
                                
                            <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="validate-text">
                                <div *ngIf="f.confirm_password.errors?.required">Please enter confirm password</div>
                                <div *ngIf="f.confirm_password.errors?.confirmedValidator">New password and Confirm password should match.</div>
                            </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
                <button [disabled]="changePassword.invalid" type="submit" class="btn btn-primary ">Submit</button>
                <button type="buttom" (click)="resetForm()"  class="btn btn-primary ml-3 ">Reset</button>
            </div>
            <!--  -->
        </div>
        </form>
        <!-- <pre>
            {{changePassword.value | json}}
           
         </pre> -->
    </div>



   
    <!---product family-->
</div>