<div class="section-body fixNavMargin">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link" href="#">
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#"></a>
                </li>

            </ul>
        </div>
        <div class="card">
            <div class="card-header d-flex justify-content-between">
            </div>
            <form [formGroup]="productTemplate">
                <div class="card card-height">
                    <div class="card-header pf-head d-flex justify-content-between">
                        <h3 class="card-title ">{{'forms.template-form.template-form-heading' | translate}}
                        </h3>
                        <button type="button"  (click)="back()" class="btn btn-dark" >Back</button>
                    </div>
                    <div class="card-body">
                        <div class="row productTemplate ">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class=" form-group col-md-4">
                                        <label class="form-label "><span>{{'forms.template-form.product-entity-template'
                                                | translate}}</span></label>
                                    </div>
                                    <div class=" form-group col-md-8">
                                        <input rows="3"
                                            [ngClass]="productTemplate.controls.productEntityTemplateName?.errors ? 'mandatory' : 'mandatoryG'"
                                            class="form-control" placeholder="" value="Mike"
                                            formControlName="productEntityTemplateName">
                                        <div
                                            *ngIf="productTemplate.controls.productEntityTemplateName?.invalid && productTemplate.controls.productEntityTemplateName?.touched">
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.productEntityTemplateName?.errors?.required">Please
                                                Enter {{'forms.template-form.product-entity-template' |
                                                translate}}</span>
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.productEntityTemplateName?.errors?.maxlength">Character
                                                exceed max limit 30</span>
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.productEntityTemplateName?.errors?.isChar">Invalid
                                                input. Only character allowed </span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"><span>{{'forms.template-form.description' |
                                                translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea rows="3"
                                            [ngClass]="productTemplate.controls.description?.errors ? 'mandatory' : 'mandatoryG'"
                                            class="form-control" placeholder="" value="Mike"
                                            formControlName="description"></textarea>
                                        <div
                                            *ngIf="productTemplate.controls.description?.invalid && productTemplate.controls.description?.touched">
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.description?.errors?.required">Please
                                                Enter {{'forms.template-form.description' | translate}}</span>
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.description?.errors?.maxlength">Character
                                                exceed max limit 400</span>
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.description?.errors?.isChar">Invalid
                                                input. Only character allowed </span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"><span>{{'forms.template-form.product-entity-template-type'
                                                | translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <select name="cars" id="cars"
                                                [ngClass]="productTemplate.controls.productEntityType?.errors ? 'mandatory' : 'mandatoryG'"
                                                class="form-control" formControlName="productEntityType">
                                                <option value="">Select --</option>
                                                <option value="{{productEntityType.productEntityTypeId}}"
                                                    *ngFor="let productEntityType of productEntityTypeList">
                                                    {{productEntityType.productEntityType}}
                                                </option>
                                            </select>
                                            <div
                                                *ngIf="productTemplate.controls.productEntityType?.invalid && productTemplate.controls.productEntityType?.touched">
                                                <span class="validate-text"
                                                    *ngIf="productTemplate.controls.productEntityType?.errors?.required">Please
                                                    Enter {{'forms.template-form.product-entity-template-type' |
                                                    translate}}</span>
                                                <span class="validate-text"
                                                    *ngIf="productTemplate.controls.productEntityType?.errors?.maxlength">Character
                                                    exceed max limit 15</span>
                                                <span class="validate-text"
                                                    *ngIf="productTemplate.controls.productEntityType?.errors?.isChar">Invalid
                                                    input. Only character allowed </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label "> <span>{{'forms.template-form.productHierarchy' |
                                                translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <select name="cars" id="cars"
                                                [ngClass]="productTemplate.controls.productHierarchyId?.errors ? 'mandatory' : 'mandatoryG'"
                                                class="form-control" formControlName="productHierarchyId">
                                                <option value="">Select --</option>
                                                <option [value]="prod.productHierarchyId"
                                                    *ngFor="let prod of productHierarchyIdList">
                                                    {{prod.hierarchyName}}
                                                </option>
                                            </select>
                                            <div
                                                *ngIf="productTemplate.controls.productHierarchyId?.invalid && productTemplate.controls.productHierarchyId?.touched">
                                                <span class="validate-text"
                                                    *ngIf="productTemplate.controls.productHierarchyId?.errors?.required">Please
                                                    Enter {{'forms.template-form.productHierarchy' | translate}}</span>
                                                <span class="validate-text"
                                                    *ngIf="productTemplate.controls.productHierarchyId?.errors?.maxlength">Character
                                                    exceed max limit 100</span>
                                                <span class="validate-text"
                                                    *ngIf="productTemplate.controls.productHierarchyId?.errors?.isChar">Invalid
                                                    input. Only character allowed </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label "> <span>{{'forms.template-form.screenLayout' |
                                                translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select id="datalistOptions84"
                                            [ngClass]="productTemplate.controls.screenLayout?.errors ? 'mandatory' : 'mandatoryG'"
                                            class="form-control" formControlName="screenLayout">
                                            <option value="">Select --</option>
                                            <option value="SINGLE COLUMN">Single column
                                            </option>
                                            <option value="DOUBLE COLUMN">Double column
                                            </option>
                                        </select>
                                        <div
                                            *ngIf="productTemplate.controls.screenLayout?.invalid && productTemplate.controls.screenLayout?.touched">
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.screenLayout?.errors?.required">Please
                                                Enter {{'forms.template-form.screenLayout' | translate}}</span>
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.screenLayout?.errors?.maxlength">Character
                                                exceed max limit 30</span>
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.screenLayout?.errors?.isChar">Invalid
                                                input. Only character allowed </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label ">
                                            <span>{{'forms.template-form.numberOfTabPagesSections' |
                                                translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input rows="3"
                                            [ngClass]="productTemplate.controls.numberOfTabPagesSections?.errors ? 'mandatory' : 'mandatoryG'"
                                            class="form-control" placeholder="" value="Mike"  [attr.disabled]="true"
                                            formControlName="numberOfTabPagesSections">
                                        <div
                                            *ngIf="productTemplate.controls.numberOfTabPagesSections?.invalid && productTemplate.controls.numberOfTabPagesSections?.touched">
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.numberOfTabPagesSections?.errors?.required">Please
                                                Enter {{'forms.template-form.numberOfTabPagesSections' |
                                                translate}}</span>
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.numberOfTabPagesSections?.errors?.maxlength">Character
                                                exceed max limit 100</span>
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.numberOfTabPagesSections?.errors?.isChar">Invalid
                                                input. Only character allowed </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label "> <span>{{'forms.template-form.version' |
                                                translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input rows="3"
                                            class="form-control mandatoryG" placeholder="" value="Mike"
                                            formControlName="version" readonly>
                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label "> <span>{{'forms.template-form.state' |
                                                translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                            <select id="datalistOptions84"
                                        class="form-control mandatory"
                                        [ngClass]="productTemplate.controls.state?.errors ? 'mandatory' : 'mandatoryG'"
                                        formControlName="state">
                                        <option value="">Select --</option>
                                        <option value="Draft">Draft
                                        </option>
                                        <option value="Release">Release
                                        </option>
                                     </select>
                                        <div
                                            *ngIf="productTemplate.controls.state?.invalid && productTemplate.controls.state?.touched">
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.state?.errors?.required">Please Enter
                                                {{'forms.template-form.state' | translate}}</span>
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.state?.errors?.maxlength">Character
                                                exceed max limit 100</span>
                                            <span class="validate-text"
                                                *ngIf="productTemplate.controls.state?.errors?.isChar">Invalid input.
                                                Only character allowed </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button [disabled]="productTemplate.invalid" type="submit" class="btn btn-primary "
                            (click)="submit()">{{actionBtn}}</button>
                        <button type="button" (click)="reset()" class="btn btn-primary ml-3">Reset</button>
                        <button type="button" class="btn btn-primary ml-3">Section/Tab Pages</button>
                        <br>
                        <app-datatable *ngIf="actionBtn == 'Update'" [permission]="permission"
                        (buttonEvent1)="buttonEvent1($event,template)"
                        (changePageSortSearch)="changePageSortSearch($event,false)"
                        [dataset]="data">
                        <app-column [search]="x.search_key" [cssClass]="" [type]="x.type"
                        *ngFor="let x of headerList" [value]="x.value" [width]="x.width"
                        [header]="x.header"></app-column>
                        </app-datatable>
                    </div>
                </div>

            </form>

        </div>
    </div>


    <ng-template #template style="height: 1% !important;">
        <div class="modal-header">
            <div class="card-header d-flex justify-content-between">
                <h3 class="card-title prod-name"><span>{{'forms.template-tab.template-tab-heading' |
                   translate}}</span>
                </h3>
             </div>
           <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">×</span>
           </button>
        </div>
        <div class="modal-body">
            <div class="section-body fixNavMargin">
                <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center">
                   <ul class="nav nav-tabs page-header-tab">
                      <li class="nav-item"><a class="nav-link" href="#">
                         </a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="#"></a>
                      </li>
                   </ul>
                </div>
                <form [formGroup]="AddTabs" #Formdata >
                <div class="card " style="height: fit-content !important;">
                 
                   <div class="card-body">
                      <div class="row productfamily ">
                         <div class="col-md-12">
                            <div class="row ">
                               <div class=" form-group col-md-4">
                                  <label class="form-label "><span>{{'forms.template-tab.product-entity-template'
                                  | translate}}</span></label>
                               </div>
                               <div class=" form-group col-md-8">
                                  <div class="form-group">
                                     <select 
                                     [attr.disabled]="true" [ngClass]="AddTabs.controls.productEntityTemplateId?.errors ? 'mandatory' : 'mandatoryG'"
                                     class="form-control mandatory" formControlName="productEntityTemplateId"
                                    >
                                     <option value="">Select --</option>
                                     <option aria-placeholder="select"
                                        value="{{productline.productEntityTemplateId}}"
                                        *ngFor="let productline of allProductEntityTempidd">
                                        {{productline.productEntityTemplateName}}
                                     </option>
                                     </select>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <!--Product -->
                         <div class="col-md-12">
                            <div class="row mb-12">
                               <div class="col-md-8">
                                  <div class="row">
                                     <div class="col-6">
                                        <div class="radio-section">
                                           <label class="custom-control custom-radio">
                                              <input type="radio" class="custom-control-input" name="type"
                                             
                                              [attr.disabled] = "actionBtn1 === 'Update' ? 'disabled' : null"
                                                 value="Tab" formControlName="type"
                                                 (click)="onTypeChange('Tab')">
                                              <div class="custom-control-label add-tab ">
                                                 <span>{{'forms.template-tab.add-tab' | translate}}</span>
                                              </div>
                                           </label>
                                        </div>
                                     </div>
                                     <div class="col-6">
                                        <div class="radio-section">
                                           <label class="custom-control custom-radio">
                                              <input   type="radio" class="custom-control-input mandatory"
                                                 name="type" value="Section" formControlName="type" [attr.disabled] = "actionBtn1 === 'Update' ? 'disabled' : null"
                                                 (click)="onTypeChange('Section')">
                                              <div class="custom-control-label add-tab">
                                                 <span>{{'forms.template-tab.add-section' |
                                                 translate}}</span>
                                              </div>
                                           </label>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="addtab-sec w-100">
                            <div class="col-md-12" *ngIf="typeTabDection!='Tab'">
                               <div class="row mb-3">
                                  <div class="col-md-4">
                                     <label class="form-label"><span>{{'forms.template-tab.parent-id'
                                     | translate}}</span> </label>
                                  </div>
                                  <div class="col-md-8">
                                     <select #parentSelect id="parentId"
                                        name="parentId"
                                        [ngClass]="AddTabs.controls.parentId?.errors ? 'mandatory' : 'mandatoryG'"
                                        class="form-control mandatory"
                                        formControlName="parentId">
                                        <option value="">Select --</option>
                                        <option
                                        [value]="tabids.productEntityTemplateSectionId"
                                        *ngFor="let tabids of tabid">
                                        {{tabids.section}}</option>
                                     </select>
                                  </div>
                               </div>
                            </div>
                            <div class="col-md-12">
                               <div class="row mb-3">
                                  <div class="col-md-4">
                                     <label class="form-label">
                                     <span>  {{ AddTabs.controls['type'].value =='Tab'? ('forms.template-tab.tab-name' | translate) :'forms.template-tab.section-name' |
                                     translate}}</span> </label>
                                  </div>
                                  <div class="col-md-8">
                                     <input type="text"
                                     [ngClass]="AddTabs.controls.section?.errors ? 'mandatory' : 'mandatoryG'"
                                        class="form-control mandatory"
                                        formControlName="section">
                                        <div *ngIf="getControls.section?.invalid && getControls.section?.touched">
                                            <span class="validate-text" *ngIf="getControls.section?.errors?.required">Please
                                                Select Data Type</span>
                                            <span class="validate-text" *ngIf="getControls.section?.errors?.maxlength ">Max Character Should Be 100 </span>
    
                                        </div>
                                  </div>
                               </div>
                            </div>
                            <div class="col-md-12" *ngIf="typeTabDection!='Tab'">
                               <div class="row mb-3">
                                  <div class="col-md-4">
                                     <label class="form-label">
                                     <span>{{'forms.template-tab.screenlayout' |
                                     translate}}</span> </label>
                                  </div>
                                  <div class="col-md-8">
                                     <select id="datalistOptions84"
                                        class="form-control mandatory"
                                        [ngClass]="AddTabs.controls.screenLayout?.errors ? 'mandatory' : 'mandatoryG'"
                                        formControlName="screenLayout">
                                        <option value="">Select --</option>
                                        <option value="SINGLE COLUMN">Single column
                                        </option>
                                        <option value="DOUBLE COLUMN">Double column
                                        </option>
                                     </select>
                                  </div>
                               </div>
                            </div>
                            <div class="col-md-12">
                               <div class="row mb-3">
                                  <div class="col-md-4">
                                      <label class="form-label">
                                     <span>{{'forms.template-tab.sequence' |
                                     translate}}</span> </label>
                                  </div>
                                  <div class="col-md-8">
                                     <input type="number"
                                     [ngClass]="AddTabs.controls.sequenceId?.errors ? 'mandatory' : 'mandatoryG'"
                                        class="form-control mandatory"
                                        formControlName="sequenceId">
                                  </div>
                               </div>
                            </div>
                            <button [disabled]="AddTabs.invalid" type="button" class="btn btn-primary"
                               (click)="submit1()">{{actionBtn1}} </button>
                         </div>
                      </div>
                   </div>
                 </div>
                </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>
        </div>
        </div>
        </div>
    </ng-template>