<div class="section-body  fixNavMargin">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link" href="#">
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#"></a>
                </li>
            </ul>
        </div>
        <div class="row">
            <form [formGroup]="productEntityAttribute" >
                <div class="card card-height">
                    <div class="card-header pf-head d-flex justify-content-between">
                        <h3 class="card-title "><span>{{'forms.template-attribute.template-attribute-heading' | translate}}</span></h3>
                        <button type="button"  (click)="back()" class="btn btn-dark " >Back</button>
                    </div>
                    <div class="card-body">
                        <div class="row productfamily ">
                            <div class="col-md-6">
                                <div class="row ">
                                    <div class=" form-group col-md-4">
                                        <label class="form-label "><span>{{'forms.template-attribute.product-entity-template-id' | translate}}</span></label>
                                    </div>
                                    <div class=" form-group col-md-8">
                                        <div class="form-group">
                                            <select [attr.disabled]="true" #mySelect (change)="onOptionsSelected(mySelect.value)"
                                                class="form-control mandatory" class="form-control"
                                                [ngClass]="productEntityAttribute.controls.productEntityTemplateId?.errors ? 'mandatory' : 'mandatoryG'"
                                                formControlName="productEntityTemplateId">
                                                <option value="" >Select --</option>
                                                <option aria-placeholder="select"
                                                    value="{{productline.productEntityTemplateId}}"
                                                    *ngFor="let  productline of allProductEntityTempidd">
                                                    {{productline.productEntityTemplateName}}</option>
                                            </select>
                                            <div
                                                *ngIf="productEntityAttribute.controls.productEntityTemplateId?.invalid && productEntityAttribute.controls.productEntityTemplateId?.touched">
                                                <span class="validate-text"
                                                    *ngIf="productEntityAttribute.controls.productEntityTemplateId?.errors?.isSelect">Please select
                                                    Template</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label"><span>{{'forms.template-attribute.tab' | translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select [attr.disabled]="true"
                                        [ngClass]="productEntityAttribute.controls.tabId?.errors ? 'mandatory' : 'mandatoryG'"
                                        #mySelect3 (change)="onOptionsSelectedTab(mySelect3.value)"
                                            class="form-control" formControlName="tabId">
                                            <option value="" >Select --</option>
                                            <option aria-placeholder="select"
                                                value="{{tabids.productEntityTemplateSectionId}}"
                                                *ngFor="let tabids of tabid">{{tabids.section}}
                                            </option>
                                        </select>
                                        <div *ngIf="productEntityAttribute.controls.tabId?.invalid && productEntityAttribute.controls.tabId?.touched">
                                            <span class="validate-text" *ngIf="productEntityAttribute.controls.tabId?.errors?.isSelect">Please select
                                                Tab Id</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"><span>{{'forms.template-attribute.section' | translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select [attr.disabled]="true" #select4 (change)="onSelectSection(select4.value)"
                                            class="form-control " 
                                            [ngClass]="productEntityAttribute.controls.sectionId?.errors ? 'mandatory' : 'mandatoryG'"
                                            formControlName="sectionId">
                                            <option value="">Select --</option>
                                            <option aria-placeholder="select"
                                                value="{{tabids.productEntityTemplateSectionId}}"
                                                *ngFor="let tabids of secid">{{tabids.section}}</option>
                                        </select>
                                        <div *ngIf="productEntityAttribute.controls.sectionId?.invalid && productEntityAttribute.controls.sectionId?.touched">
                                            <span class="validate-text" *ngIf="productEntityAttribute.controls.sectionId?.errors?.isSelect">Please
                                                select Section Id</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"><span>{{'forms.template-attribute.sequence' | translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control "
                                        [ngClass]="productEntityAttribute.controls.sequenceId?.errors ? 'mandatory' : 'mandatoryG'"
                                        id="mname"
                                            name="middle-name" formControlName="sequenceId">
                                        <div *ngIf="productEntityAttribute.controls.sequenceId?.invalid && productEntityAttribute.controls.sequenceId?.touched">
                                            <span class="validate-text" *ngIf="productEntityAttribute.controls.sequenceId?.errors?.required">Please
                                                Enter Sequence Id </span>
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"> <span>{{'forms.template-attribute.product-attribute' | translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                     
                                            <select  #select5 (change)="onSelectSectionAdd(select5.value)"
                                            class="form-control " 
                                            [ngClass]="productEntityAttribute.controls.productAttribute?.errors ? 'mandatory' : 'mandatoryG'"
                                            formControlName="productAttribute">
                                            <option value="">Select --</option>
                                            <option aria-placeholder="select"
                                                value="{{productAttribute.productAttributeId}}"
                                                *ngFor="let productAttribute of productAttributeList">{{productAttribute.productAttributeName}}</option>
                                        </select>
                                        <div *ngIf="productEntityAttribute.controls.productAttribute?.invalid && productEntityAttribute.controls.productAttribute?.touched">
                                            <span class="validate-text"
                                                *ngIf="productEntityAttribute.controls.productAttribute?.errors?.required">Please Enter Product
                                                Attribute </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"> <span>{{'forms.template-attribute.description' | translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea type="file" [attr.disabled]="true"  [ngClass]="productEntityAttribute.controls.productEntityTemplateId?.errors ? 'mandatory' : 'mandatoryG'" class="form-control" id="lname" name="last-name"
                                            formControlName="description"></textarea>
                                        <div *ngIf="productEntityAttribute.controls.description?.invalid && productEntityAttribute.controls.description?.touched">
                                            <span class="validate-text" *ngIf="productEntityAttribute.controls.description?.errors?.required">Please
                                                Enter Description </span>
                                            <span class="validate-text" *ngIf="productEntityAttribute.controls.description?.errors?.maxlength">Character
                                                exceed max limit 400</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"> <span>{{'forms.template-attribute.attribute-data-type' | translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <textarea type="file" [attr.disabled]="true" [ngClass]="productEntityAttribute.controls.productEntityTemplateId?.errors ? 'mandatory' : 'mandatoryG'" class="form-control " id="lname"
                                                name="last-name" formControlName="productAttributeDataType"></textarea>
                                            <div
                                                *ngIf="productEntityAttribute.controls.productAttributeDataType?.invalid && productEntityAttribute.controls.productAttributeDataType?.touched">
                                                <span class="validate-text"
                                                    *ngIf="productEntityAttribute.controls.productAttributeDataType?.errors?.required">Please Enter
                                                    DataType </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"><span>{{'forms.template-attribute.attribute-length' | translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" [attr.disabled]="true"  [ngClass]="productEntityAttribute.controls.productEntityTemplateId?.errors ? 'mandatory' : 'mandatoryG'"  class="form-control" id="lname"
                                                name="last-name" formControlName="productAttributeLength">
                                            <div
                                                *ngIf="productEntityAttribute.controls.productAttributeLength?.invalid && productEntityAttribute.controls.productAttributeLength?.touched">
                                                <span class="validate-text"
                                                    *ngIf="productEntityAttribute.controls.productAttributeLength?.errors?.required">Please Enter
                                                    Attribute Length </span>     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"><span>{{'forms.template-attribute.data-capture' | translate}}</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <select [attr.disabled]="true" id="datalistOptions84" class="form-control"   [ngClass]="productEntityAttribute.controls.productEntityTemplateId?.errors ? 'mandatory' : 'mandatoryG'" #dataCapture
                                                (change)="onDataCapture(dataCapture.value)"
                                                formControlName="dataCaptureControl">
                                                <option value="">Select --</option>
                                                <option value="text">Text</option>
                                                <option value="radio">Radio</option>
                                                <option value="checkbox">Checkbox</option>
                                                <option value="date">Date</option>
                                                <option value="dropdown">Dropdown</option>
                                            </select>
                                            <div *ngIf="productEntityAttribute.controls.dataCaptureControl?.invalid && productEntityAttribute.controls.dataCaptureControl?.touched">
                                                <span class="validate-text" *ngIf="productEntityAttribute.controls.dataCaptureControl?.errors?.isSelect">Please select
                                                    data capture control</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"><span>{{'forms.template-attribute.values' | translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control"  [attr.disabled]="true" [ngClass]="productEntityAttribute.controls.options?.errors ? 'mandatory' : 'mandatoryG'" formControlName="options">
                                            <div *ngIf="productEntityAttribute.controls.options?.invalid && productEntityAttribute.controls.options?.touched">
                                                <span class="validate-text" *ngIf="productEntityAttribute.controls.options?.errors?.required">Please
                                                    Enter Values</span>
                                               
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"><span>{{'forms.template-attribute.mandatory' | translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="custom-switches-stacked">
                                            <label class="custom-switch">
                                                <input [attr.disabled]="true" type="checkbox"  formControlName="mandatory"  value="" class="custom-switch-input" >
                                                <span class="custom-switch-indicator"></span>
                                            </label>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"><span>{{'forms.template-attribute.readonly' | translate}}</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="custom-switches-stacked">
                                            <label class="custom-switch">
                                                <input type="checkbox" [attr.disabled]="true" formControlName="readOnly"  value="" class="custom-switch-input" >
                                                <span class="custom-switch-indicator"></span>
                                            </label>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                            <button  *ngIf="!isDetails" type="submit" (click)="submitForm()" [disabled]="productEntityAttribute.invalid" class="btn btn-primary ">{{btnName}}</button>
                            <button   *ngIf="!isDetails" type="button" class="btn btn-primary ml-3 " (click)="resetForm()">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>