

    <div class="section-body  fixNavMargin">
        <div class="container-fluid">

            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link" href="#">
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a>
                    </li>

                </ul>
            </div>
            <form [formGroup]="vanityPatternRule" >
            <div class="card card-height">
                <div class="card-header pf-head  d-flex justify-content-between">
                    <h3 class="card-title "><span>{{'forms.vanityPatternRule.vanityHeading' | translate}}</span> </h3>
                    <button type="button"  (click)="back()" class="btn btn-dark " >Back</button>
                </div>
                <div class="card-body">
                    <div class="row productfamily ">
                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label ">Rule Code</label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <input type="text" class="form-control mandatory" [ngClass]="getControl.ruleCode?.errors ? 'mandatory' : 'mandatoryG'" formControlName="ruleCode">
                                    <div *ngIf="getControl.ruleCode?.invalid && getControl.ruleCode?.touched">
                                        <span class="validate-text" *ngIf="getControl.ruleCode?.errors?.required">Please Enter
                                            Rule Code</span>
                                        <span class="validate-text" *ngIf="getControl.ruleCode?.errors?.maxlength">Character exceed
                                            max limit {{getControl.ruleCode?.errors?.maxlength?.requiredLength}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label ">Type </label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <select type="text"  formControlName="vanityNumberPatternType" class="form-control" [ngClass]="getControl.vanityNumberPatternType?.errors ? 'mandatory' : 'mandatoryG'" > 
                                        <option value="">Select --</option>
                                        <option value="Code">Code</option>
                                        <option value="Combination">Combination</option>
                                    </select>

                                    <div *ngIf="getControl.vanityNumberPatternType?.invalid && getControl.vanityNumberPatternType?.touched">
                                        <span class="validate-text" *ngIf="getControl.vanityNumberPatternType?.errors?.required">Please select
                                            Type</span>
                                    </div>
                                </div>
                            </div>
                        </div>                
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-">Mask</label>
                                </div>
                                <div class="col-md-8">
                                    <textarea rows="3"  [ngClass]="getControl.vanityNumberPatternMask?.errors ? 'mandatory' : 'mandatoryG'"  class="form-control" placeholder="Here can be your description"
                                        value="Mike" formControlName="vanityNumberPatternMask"></textarea>
                                        <div *ngIf="getControl.vanityNumberPatternMask?.invalid && getControl.vanityNumberPatternMask?.touched">
                                            <span class="validate-text" *ngIf="getControl.vanityNumberPatternMask?.errors?.required">Please Enter
                                                Rule Code</span>
                                            <span class="validate-text" *ngIf="getControl.vanityNumberPatternMask?.errors?.maxlength">Character exceed
                                                max limit {{getControl.vanityNumberPatternMask?.errors?.maxlength?.requiredLength}}</span>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label ">Mask Sequenced </label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <div class="custom-switches-stacked">
                                        <label class="custom-switch">
                                            <input formControlName="vanityNumberPatternMaskSequenced"  type="checkbox" value="" class="custom-switch-input" >
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                    </div> 
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label ">Length</label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <div class="custom-switches-stacked">
                                        <label class="custom-switch">
                                            <input type="number"  formControlName="vanityNumberPatternLength" class="form-control" [ngClass]="getControl.vanityNumberPatternLength?.errors ? 'mandatory' : 'mandatoryG'" >
                                            <div *ngIf="getControl.vanityNumberPatternLength?.invalid && getControl.vanityNumberPatternLength?.touched">
                                                <span class="validate-text" *ngIf="getControl.vanityNumberPatternLength?.errors?.required">Please Enter
                                                    Length</span>
                                                <span class="validate-text" *ngIf="getControl.vanityNumberPatternLength?.errors?.maxlength">Character exceed
                                                    max limit {{getControl.vanityNumberPatternLength?.errors?.maxlength?.requiredLength}}</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>  
                 
                    
                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label ">No. of 
                                        Occurrence</label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <input type="text"   class="form-control mandatory" [ngClass]="getControl.noOfOccurences?.errors ? 'mandatory' : 'mandatoryG'" formControlName="noOfOccurences">
                                    <div *ngIf="getControl.noOfOccurences?.invalid && getControl.noOfOccurences?.touched">
                                        <span class="validate-text" *ngIf="getControl.noOfOccurences?.errors?.required">Please Enter
                                            No. of Occurrence</span>
                                        <span class="validate-text" *ngIf="getControl.noOfOccurences?.errors?.maxlength">Character exceed
                                            max limit {{getControl.noOfOccurences?.errors?.maxlength?.requiredLength}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-6">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label ">Reverse Check</label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <div class="custom-switches-stacked">
                                        <label class="custom-switch">
                                            <input formControlName="reverseCheck"  type="checkbox" value="" class="custom-switch-input" >
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>  

  

                    </div>
                    <button   (click)="submit()" type="submit" class="btn btn-primary ">{{actionBtn}}</button>
                    <button type="reset" class="btn btn-primary ml-3 ">Reset</button>
                </div>
            </div>
            </form>
        </div>
    </div>

