.img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    background: #808488 no-repeat center/cover;
    // object-fit: contain;
}

.camera-image{
    position: absolute;
    bottom: 10px;
    left: 74px;
}